{:paths ["src" "resources"]
 :deps {io.github.kotoba-lang/org-synopsys-sdc {:local/root "../org-synopsys-sdc"}}
 :aliases
 {:oss-normalize {:main-opts ["-m" "kotoba.eda.cli"]}
  :site {:main-opts ["-m" "kotoba.eda.site-cli"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
